/*CSS STYLE FOR HOME PAGE AND ALL PAGES*/

body {
    background-color: #ffffff;
    font-family: 'Comfortaa', cursive;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    /*margin-bottom: -10px;*/
}

#globe-image {
    width: 200px;
    padding: 20px;
}

#search-field {
    font-size: 15px;
    padding: 5px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

#search-button, #link-button {
    background-color: hsl(197, 100%, 76%);
    font-size: 15px;
    padding: 6px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;

}

#country-container {
    /*width: 500px;*/
    margin: 20px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#country-flag {
    width: 100px;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

#country-name {
    padding-left: 150px;
    margin-top: 5px;
    margin-bottom: -10px;
    position: absolute;
    align-self: flex-start;
}

#country-info {
    border-top: #d9d9d9 solid 2px;
    padding-top: 20px;
}

#error-message {
    margin: 20px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    border-radius: 5px;
}

#error-message:empty {
    display: none;
}


/*CSS STYLES FOR SECOND PAGE - WORLD MAP*/

#worldMap-image {
    width: 800px;
}

#countryList {
    background-color: #dfe2df;
    list-style-type: none;
    column-count: 3;

    padding: 20px;
    width: 1000px;

}

.flag-image {
    width: 25px;
    background-color: #dcf8af;
    padding: 10px;
}

#populationOfCountry {
    display: none;
    background-color: #d6f89f;
    padding: 10px;
}

/*kleuren voor switch statement function  countryNameInColor*/
.red {
    color: hsl(354, 59%, 56%);
    background-color: #d9d9d9;
    padding: 10px;
}
.green {
    color: hsl(139, 43%, 59%);
    background-color: #d9d9d9;
    padding: 10px;
}
.blue {
    color: hsl(222, 47%, 55%);
    background-color: #d9d9d9;
    padding: 10px;
}
.yellow {
    color: hsl(47, 100%, 60%);
    background-color: #d9d9d9;
    padding: 10px;
}
.purple {
    color: hsl(288, 43%, 53%);
    background-color: #d9d9d9;
    padding: 10px;
}
.black {
    color: hsl(0, 0%, 0%);
    background-color: #d9d9d9;
    padding: 10px;
}

